@import "../../../node_modules/govuk-frontend/all";

.EuExitScreen {
  .EuExitScreen-left-view {
    padding: govuk-spacing(8);
    background-color: govuk-colour('blue');
    min-height: calc(100vh - 63px);
    height: auto;

    .govuk-heading-l, .govuk-body, .govuk-list {
      color: govuk-colour('white');
    }

  }
  .EuExitScreen-right-view {
    padding: govuk-spacing(7);
    min-height: calc(100vh - 63px);
    height: auto;
  }
}