/* Note: `!important` is used to override default gov.uk css styles */


html,body {
    background-color: #0b0c0c !important;
    height: 100vh;
}

.dashboard-body--flex {
    display: flex;
    flex-direction: column;
}

.dashboard-body--flex .dashboard-background {
    flex-grow: 1;
}

.dashboard-body--black {
    height: 100vh;
}

.dashboard-banner {
    border-bottom: 10px solid #0b0c0c;
    margin-bottom: 40px;
}

.dashboard-banner-inner {
    border-bottom: 10px solid #0b0c0c;
    margin-left: 20px;
    margin-right: 0 !important;
    max-width: 100% !important;
}

.dashboard-banner-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#slack-channel-link {
    margin-right: 20px;
    font-size: 32px;
}

.govuk-header__logo {
    flex: 1;
}

.dashboard-background {
    padding: 20px;
    background-color: #0b0c0c;
}

.dashboard-background--black {
    background-color: #0b0c0c
}

.dashboard-number-count {
    text-align: left;
    font-size: 72px;
}

.dashboard-footer {
    background-color: #0b0c0c;
    padding: 1rem;
}