/* Note: `!important` is used to override default gov.uk css styles */

html,
body {
    background-color: #0b0c0c !important;
    height: 100vh;
}

.dashboard-body--flex {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 30px 50px;
}

.dashboard-body--flex .dashboard-main {
    flex-grow: 1;
    overflow: hidden;
}

.dashboard-logo {
    align-items: center;
    display: flex;
}